body {
	font-family: 'Titillium Web', sans-serif;
}

header {
    margin: 25px;
}

header h1 {
	padding-top: 36px;
    font-size: 400%;
}

header p {
    padding-top: 2ex;
    font-size: 115%;
}

header h1, header p {
	margin: 0 0 0 72px;
    line-height: 100%;
}

p.siteDescription {
	text-transform: lowercase;
}

p.author {
	font-size: 100%;
}

ol.posts {
	list-style-type: none;

}

li.post {

}

p.dateline {
	display: block;
    text-align: right;
    width: 100px;
    padding: 0 36px 0 0;
    float: left;

}

span.day {
	display: block;
    color: #800000;
    font-size: 200%;
    font-weight: bold;
}

span.month {
	display: block;
    font-size: 90%;
    color: #777;
}

span.year {
	display: block;
    font-size: 90%;
    color: #777;
}
.description, .title, .tags {
	margin-left: 136px;
}

a.title {
	display: block;
    /*font-family: "Concourse-T6";*/
    font-size: 200%;
    line-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

p.description {
	padding: 1ex 0;
    color: #777;
}

ol.posts > li .tags {
    border-bottom: 1px solid #ddd;
    padding-bottom: 36px;
}

ol.posts > li {
    padding: 36px 36px 0 36px;
}

ul.tags {
	list-style-type: none;
    padding-top: 0.5ex;
    padding-left: 0px;
    /*font-family: "Concourse-C4";*/
    font-size: 75%;
    text-transform: uppercase;
    color: #777;
}

.tags li {
	display: inline-block;
    padding-right: 1em;
}

label {
    display: block;
}